<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhisha.vv.mapper.TbHeroMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiaozhisha.vv.entity.TbHero">
        <id column="id" property="id" />
        <result column="bid" property="bid" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="description" property="description" />
        <result column="address" property="address" />
        <result column="salary" property="salary" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bid, name, age, description, address, salary
    </sql>

    <select id="deleteAll" >
        delete * from tb_hero;
    </select>
</mapper>
